{% extends "layout.html" %}

{% block content %}
    <link rel="stylesheet" href="../../static/css/layout.css"><br>
    <div>
        <h3>(テスト用)メモの更新</h3>
        <div>
            <form action="/questions/update/{{ question.id }}" method="POST">
                <div>
                    <div>
                        <input type="text" name="title" placeholder="Title" value="{{ question.title }}">
                    </div>
                </div>

                <div>
                    <div>
                        <input type="text" name="body" placeholder="Body" value="{{ question.body }}">
                    </div>
                </div>
                <button>修正する</button>
            </form>
        </div>
    </div>
{% endblock %}l
